<template>
  <form @submit.prevent="handleSubmit(item)">
    <div class="form-group">
      <label
        for="tool_title"
        class="form-control-label">title</label>
      <input
        id="tool_title"
        v-model="item.title"
        :class="['form-control', isInvalid('title') ? 'is-invalid' : '']"
        type="text"
        required="true"
        placeholder=""
        @input="handleUpdateField('title', $event.target.value)">
      <div
        v-if="isInvalid('title')"
        class="invalid-feedback">{{ violations.title }}</div>
    </div>
    <div class="form-group">
      <label
        for="tool_link"
        class="form-control-label">link</label>
      <input
        id="tool_link"
        v-model="item.link"
        :class="['form-control', isInvalid('link') ? 'is-invalid' : '']"
        type="url"
        required="true"
        placeholder=""
        @input="handleUpdateField('link', $event.target.value)">
      <div
        v-if="isInvalid('link')"
        class="invalid-feedback">{{ violations.link }}</div>
    </div>
    <div class="form-group">
      <label
        for="tool_description"
        class="form-control-label">description</label>
      <input
        id="tool_description"
        v-model="item.description"
        :class="['form-control', isInvalid('description') ? 'is-invalid' : '']"
        type="text"
        required="true"
        placeholder="a description of the item"
        @input="handleUpdateField('description', $event.target.value)">
      <div
        v-if="isInvalid('description')"
        class="invalid-feedback">{{ violations.description }}</div>
    </div>
    <div class="form-group">
      <label
        for="tool_tags"
        class="form-control-label">tags</label>
      <input
        id="tool_tags"
        v-model="item.tags"
        :class="['form-control', isInvalid('tags') ? 'is-invalid' : '']"
        type="text"
        required="true"
        placeholder="tags separated by commas"
        @change="handleUpdateField('tags', $event.target.value.split(',').map(e => {return e.trim()}).filter( e => {return e.length > 0 }))">
      <div
        v-if="isInvalid('tags')"
        class="invalid-feedback">{{ violations.tags }}</div>
    </div>

    <button
      type="submit"
      class="btn btn-success">Submit</button>
  </form>
</template>

<script>
export default {
  props: {
    handleSubmit: {
      type: Function,
      required: true
    },

    handleUpdateField: {
      type: Function,
      required: true
    },

    values: {
      type: Object,
      required: true
    },

    errors: {
      type: Object,
      default: () => {}
    },

    initialValues: {
      type: Object,
      default: () => {}
    }
  },

  computed: {
    // eslint-disable-next-line
    item () {
      return this.initialValues || this.values
    },

    violations () {
      return this.errors || {}
    }
  },

  methods: {
    isInvalid (key) {
      return Object.keys(this.violations).length > 0 && this.violations[key]
    }
  }
}
</script>
