<template>
  <div>
    <h1>Tool List</h1>

    <div
      v-if="isLoading"
      class="alert alert-info">Loading...</div>
    <div
      v-if="deletedItem"
      class="alert alert-success">{{ deletedItem['@title'] }} deleted.</div>
    <div
      v-if="error"
      class="alert alert-danger">{{ error }}</div>

    <span v-if="view">
      <button
        :disabled="!view['hydra:previous']"
        type="button"
        class="btn btn-basic btn-sm"
        @click="getPage(view['hydra:first'])">First</button>
      &nbsp;
      <button
        :disabled="!view['hydra:previous']"
        type="button"
        class="btn btn-basic btn-sm"
        @click="getPage(view['hydra:previous'])">Previous</button>
      &nbsp;
      <button
        :disabled="!view['hydra:next']"
        type="button"
        class="btn btn-basic btn-sm"
        @click="getPage(view['hydra:next'])">Next</button>
      &nbsp;
      <button
        :disabled="!view['hydra:last']"
        type="button"
        class="btn btn-basic btn-sm"
        @click="getPage(view['hydra:last'])">Last</button>
      &nbsp;
    </span>

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>title</th>
            <th>link</th>
            <th>description</th>
            <th>tags</th>
            <th colspan="2">actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="item in items"
            :key="item['@id']">
            <td>
              <router-link
                v-if="item"
                :to="{name: 'ToolShow', params: { id: item['@id'] }}">
                {{ item['title'] }}
              </router-link>
            </td>
            <td>
              <a :href="item['link']" target="_blank">
                {{ item['link'] }}
              </a>
            </td>
            <td>
              <router-link
                v-if="item"
                :to="{name: 'ToolShow', params: { id: item['@id'] }}">
                {{ item['description'] }}
              </router-link>
            </td>
            <td>
              <router-link
                v-if="item"
                      :to="{name: 'ToolShow', params: { id: item['@id'] }}">
                <span class="badge badge-info p-1 mx-1"
                        v-for="tag in item.tags">
                  {{ tag }}
                </span>
              </router-link>
            </td>
            <td>
              <router-link
                :to="{name: 'ToolShow', params: { id: item['@id'] }}">
                <span
                  class="fa fa-search"
                  aria-hidden="true" />
                <span>Show</span>
              </router-link>
            </td>
            <td>
              <router-link :to="{name: 'ToolUpdate', params: { id: item['@id'] }}">
                <span
                  class="fa fa-pencil"
                  aria-hidden="true" />
                <span>Edit</span>
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <router-link
      :to="{ name: 'ToolCreate' }"
      class="btn btn-primary">Create</router-link>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  computed: mapGetters({
    deletedItem: 'tool/del/deleted',
    error: 'tool/list/error',
    items: 'tool/list/items',
    isLoading: 'tool/list/isLoading',
    view: 'tool/list/view'
  }),

  created () {
    this.getPage()
  },

  methods: mapActions({
    getPage: 'tool/list/default'
  })
}
</script>
