<template>
  <div>
    <h1>Edit {{ item['title'] }}</h1>

    <div
      v-if="created"
      class="alert alert-success"
      role="status">{{ created['@id'] }} created.</div>
    <div
      v-if="updated"
      class="alert alert-success"
      role="status">{{ updated['@id'] }} updated.</div>
    <div
      v-if="isLoading || deleteLoading"
      class="alert alert-info"
      role="status">Loading...</div>
    <div
      v-if="error"
      class="alert alert-danger"
      role="alert">
      <span
        class="fa fa-exclamation-triangle"
        aria-hidden="true" /> {{ error }}
    </div>
    <div
      v-if="deleteError"
      class="alert alert-danger"
      role="alert">
      <span
        class="fa fa-exclamation-triangle"
        aria-hidden="true" /> {{ deleteError }}
    </div>

    <ToolForm
      v-if="item"
      :handle-submit="onSendForm"
      :handle-update-field="updateField"
      :values="item"
      :errors="violations"
      :initial-values="retrieved">
    </ToolForm>
    
    <button class="btn btn-danger"
            @click="del">Delete</button>
    
    <router-link
      v-if="item"
      :to="{ name: 'ToolList' }"
      class="btn btn-default">Back to list</router-link>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ToolForm from './Form.vue'

export default {
  components: {
    ToolForm
  },

  data () {
    return {
      item: {}
    }
  },

  computed: {
    ...mapGetters({
      isLoading: 'tool/update/isLoading',
      error: 'tool/update/error',
      deleteError: 'tool/del/error',
      deleteLoading: 'tool/del/isLoading',
      created: 'tool/create/created',
      deleted: 'tool/del/deleted',
      retrieved: 'tool/update/retrieved',
      updated: 'tool/update/updated',
      violations: 'tool/update/violations'
    })
  },

  watch: {
    // eslint-disable-next-line object-shorthand,func-names
    deleted: function (deleted) {
      if (!deleted) {
        return
      }

      this.$router.push({ name: 'ToolList' })
    }
  },

  beforeDestroy () {
    this.reset()
  },

  created () {
    this.retrieve(decodeURIComponent(this.$route.params.id))
  },

  methods: {
    ...mapActions({
      createReset: 'tool/create/reset',
      deleteItem: 'tool/del/del',
      delReset: 'tool/del/reset',
      retrieve: 'tool/update/retrieve',
      updateReset: 'tool/update/reset',
      update: 'tool/update/update',
      updateRetrieved: 'tool/update/updateRetrieved'
    }),

    del () {
      if (window.confirm('Are you sure you want to delete this tool ?')) {
        this.deleteItem(this.retrieved)
      }
    },

    reset () {
      this.updateReset()
      this.delReset()
      this.createReset()
    },

    onSendForm () {
      this.update()
    },

    updateField (field, value) {
      this.updateRetrieved({ [field]: value })
    }
  }
}
</script>
