<template>
  <div class="container">
    <nav>
      <ul class="nav nav-justified">
        <li class="active"><router-link :to="{ name: 'ToolList' }" class="active">Tools</router-link></li>
      </ul>
    </nav>

    <div>
      <router-view></router-view>
    </div>
  </div>
</template>
